PROD-DIFARMA/CL_DIF_OMS_Demand/EXPOSED/XSD/XSD_Ordenes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OriginAddress">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="AddressLine1"/>
                <xs:attribute type="xs:string" name="AddressLine2"/>
                <xs:attribute type="xs:string" name="AddressLine3"/>
                <xs:attribute type="xs:string" name="AddressLine4"/>
                <xs:attribute type="xs:string" name="City"/>
                <xs:attribute type="xs:string" name="Company"/>
                <xs:attribute type="xs:string" name="Country"/>
                <xs:attribute type="xs:string" name="EMailID"/>
                <xs:attribute type="xs:string" name="FirstName"/>
                <xs:attribute type="xs:string" name="LastName"/>
                <xs:attribute type="xs:string" name="MiddleName"/>
                <xs:attribute type="xs:string" name="MobilePhone"/>
                <xs:attribute type="xs:string" name="PersonID"/>
                <xs:attribute type="xs:string" name="State"/>
                <xs:attribute type="xs:string" name="StoreUserFirstName"/>
                <xs:attribute type="xs:string" name="StoreUserLastName"/>
                <xs:attribute type="xs:string" name="ZipCode"/>
                <xs:attribute type="xs:string" name="Region"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="PersonInfoShipTo">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="AddressLine1"/>
                <xs:attribute type="xs:string" name="AddressLine2"/>
                <xs:attribute type="xs:string" name="AddressLine3"/>
                <xs:attribute type="xs:string" name="AddressLine4"/>
                <xs:attribute type="xs:string" name="City"/>
                <xs:attribute type="xs:string" name="Company"/>
                <xs:attribute type="xs:string" name="Country"/>
                <xs:attribute type="xs:string" name="EMailID"/>
                <xs:attribute type="xs:string" name="FirstName"/>
                <xs:attribute type="xs:string" name="LastName"/>
                <xs:attribute type="xs:string" name="MiddleName"/>
                <xs:attribute type="xs:string" name="MobilePhone"/>
                <xs:attribute type="xs:string" name="PersonID"/>
                <xs:attribute type="xs:string" name="State"/>
                <xs:attribute type="xs:string" name="ZipCode"/>
                <xs:attribute type="xs:string" name="Region"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Extn">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="ExtnBoletaID"/>
                <xs:attribute type="xs:string" name="ExtnRUNRUTNIT"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="OverallTotals">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="GrandCharges"/>
                <xs:attribute type="xs:string" name="GrandDiscount"/>
                <xs:attribute type="xs:string" name="GrandTax"/>
                <xs:attribute type="xs:string" name="GrandTotal"/>
                <xs:attribute type="xs:string" name="HdrCharges"/>
                <xs:attribute type="xs:string" name="HdrDiscount"/>
                <xs:attribute type="xs:string" name="HdrTax"/>
                <xs:attribute type="xs:string" name="HdrTotal"/>
                <xs:attribute type="xs:string" name="LineSubTotal"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderLines">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrderLine" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Item">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="ItemID"/>
                            <xs:attribute type="xs:string" name="ItemShortDesc"/>
                            <xs:attribute type="xs:string" name="ProductClass"/>
                            <xs:attribute type="xs:string" name="UnitOfMeasure"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Extn">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="ExtnIsJumpFlowSch"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LineCharges">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LineCharge" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="ChargeAmount"/>
                                  <xs:attribute type="xs:string" name="ChargeName"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LineTaxes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LineTax" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="InvoicedTax"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LinePriceInfo" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="UnitPrice"/>
                            <xs:attribute type="xs:string" name="LineTotal"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="DeliveryMethod"/>
                  <xs:attribute type="xs:string" name="FulfillmentType"/>
                  <xs:attribute type="xs:string" name="OrderLineKey"/>
                  <xs:attribute type="xs:string" name="OrderedQty"/>
                  <xs:attribute type="xs:string" name="OriginalOrderedQty"/>
                  <xs:attribute type="xs:string" name="PrimeLineNo"/>
                  <xs:attribute type="xs:string" name="ReturnReason"/>
                  <xs:attribute type="xs:string" name="ShipNode"/>
                  <xs:attribute type="xs:string" name="Status"/>
                  <xs:attribute type="xs:string" name="StatusQuantity"/>
                  <xs:attribute type="xs:string" name="SubLineNo"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="TotalItemQty"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="HeaderCharges">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="HeaderCharge" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="ChargeAmount"/>
                      <xs:attribute type="xs:string" name="ChargeCategory"/>
                      <xs:attribute type="xs:string" name="ChargeName"/>
                      <xs:attribute type="xs:string" name="ChargeNameKey"/>
                      <xs:attribute type="xs:string" name="InvoicedChargeAmount"/>
                      <xs:attribute type="xs:string" name="IsBillable"/>
                      <xs:attribute type="xs:string" name="IsDiscount"/>
                      <xs:attribute type="xs:string" name="Reference"/>
                      <xs:attribute type="xs:string" name="RemainingChargeAmount"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DestinationAddress">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="AddressLine1"/>
                <xs:attribute type="xs:string" name="AddressLine2"/>
                <xs:attribute type="xs:string" name="AddressLine3"/>
                <xs:attribute type="xs:string" name="AddressLine4"/>
                <xs:attribute type="xs:string" name="City"/>
                <xs:attribute type="xs:string" name="Company"/>
                <xs:attribute type="xs:string" name="Country"/>
                <xs:attribute type="xs:string" name="emailid"/>
                <xs:attribute type="xs:string" name="FirstName"/>
                <xs:attribute type="xs:string" name="LastName"/>
                <xs:attribute type="xs:string" name="MiddleName"/>
                <xs:attribute type="xs:string" name="MobilePhone"/>
                <xs:attribute type="xs:string" name="PersonID"/>
                <xs:attribute type="xs:string" name="State"/>
                <xs:attribute type="xs:string" name="ZipCode"/>
                <xs:attribute type="xs:string" name="Region"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="References">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:string" name="Value"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="CompanyName"/>
      <xs:attribute type="xs:string" name="Destination"/>
      <xs:attribute type="xs:string" name="DocumentType"/>
      <xs:attribute type="xs:string" name="EnterpriseCode"/>
      <xs:attribute type="xs:string" name="EntryType"/>
      <xs:attribute type="xs:string" name="MessageType"/>
      <xs:attribute type="xs:string" name="Modifyts"/>
      <xs:attribute type="xs:string" name="OrderDate"/>
      <xs:attribute type="xs:string" name="OrderHeaderKey"/>
      <xs:attribute type="xs:string" name="SellerOrganizationCode"/>
      <xs:attribute type="xs:int" name="OrderNo"/>
      <xs:attribute type="xs:int" name="Origin"/>
    </xs:complexType>
  </xs:element>
</xs:schema>