PROD-DIFARMA/CL_DIF_OMS_Demand/BACKEND/WSDL/BS0001_Ordenes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSOrdenEcommerce" targetNamespace="CVInventarios" xmlns:wsdlns="CVInventarios"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="CVInventarios">
  <types>
    <schema targetNamespace="CVInventarios" xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
      <complexType name="SDTOrdenEcommerce">
        <all>
          <element name="Tipo" type="xsd:string"></element>
          <element name="LocalEcommerce" type="xsd:string"></element>
          <element name="NroOrden" type="xsd:string"></element>
          <element name="Motivo" type="xsd:string"></element>
          <element name="UsuarioId" type="xsd:string"></element>
          <element name="UsuarioRut" type="xsd:string"></element>
          <element name="Producto">
            <complexType>
              <sequence>
                <element minOccurs="0" maxOccurs="unbounded" name="ProductoItem"
                         type="tns:SDTOrdenEcommerce.ProductoItem"></element>
              </sequence>
            </complexType>
          </element>
        </all>
      </complexType>
      <complexType name="ArrayOfSDTOrdenEcommerce.ProductoItem">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="SDTOrdenEcommerce.ProductoItem"
                   type="tns:SDTOrdenEcommerce.ProductoItem"></element>
        </sequence>
      </complexType>
      <complexType name="SDTOrdenEcommerce.ProductoItem">
        <all>
          <element name="ProductoId" type="xsd:string"></element>
          <element name="Cantidad" type="xsd:short"></element>
        </all>
      </complexType>
      <element name="WSOrdenEcommerce.Execute">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="Sdtordenecommerce" type="tns:SDTOrdenEcommerce"/>
          </sequence>
        </complexType>
      </element>
      <element name="WSOrdenEcommerce.ExecuteResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="Error" type="xsd:byte"/>
            <element minOccurs="1" maxOccurs="1" name="Errordescripcion" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="WSOrdenEcommerce.ExecuteSoapIn">
    <part name="parameters" element="tns:WSOrdenEcommerce.Execute"/>
  </message>
  <message name="WSOrdenEcommerce.ExecuteSoapOut">
    <part name="parameters" element="tns:WSOrdenEcommerce.ExecuteResponse"/>
  </message>
  <portType name="WSOrdenEcommerceSoapPort">
    <operation name="Execute">
      <input message="wsdlns:WSOrdenEcommerce.ExecuteSoapIn"/>
      <output message="wsdlns:WSOrdenEcommerce.ExecuteSoapOut"/>
    </operation>
  </portType>
  <binding name="WSOrdenEcommerceSoapBinding" type="wsdlns:WSOrdenEcommerceSoapPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Execute">
      <soap:operation soapAction="CVInventariosaction/AWSORDENECOMMERCE.Execute"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSOrdenEcommerce">
    <port name="WSOrdenEcommerceSoapPort" binding="wsdlns:WSOrdenEcommerceSoapBinding">
      <soap:address location="http://10.153.160.110:8084/cvinventarios/servlet/awsordenecommerce"/>
    </port>
  </service>
</definitions>